@media screen and (max-width: 1540px) {

    .header__inner {
        width: calc(100% - 60px);
        padding: 5px 30px;
    }

    .breadcrumbs__inner {
        width: calc(100% - 60px);
        padding: 5px 30px;
    }

    .footer__inner {
        width: calc(100% - 60px);
    }
}

@media screen and (max-width: 900px) {

    .header__inner {
        flex-direction: column;
    }

    .footer__inner {
        flex-direction: column;
        padding: 20px;
    }

        .footer__inner .text-center {
            margin: 0;
        }

        .footer__inner .text-right {
            text-align: center;
        }
}
@media screen and (max-width: 600px) {
    .nav__menu {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    .logo {
        height: auto;
        width: 100%;
    }
}